@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --brand-beige: #EEDC82;
  --brand-gold: #D4AF37;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-beige: var(--brand-beige);
  --color-gold: var(--brand-gold);
  --color-gold-dark: #B8860B;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}